<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Productos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MVC de Productos</a>
        </div>
    </nav>
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12">
                <div class="card text-white bg-primary">
                    <div class="card-header">Producto</div>
                    <div class="card-body">
                        <form action="/update" method="post">
                            <div class="mb-3">
                                <input type="text" name="idProduct" class="form-control" placeholder="ID del Producto" value="{{producto.ID}}" required readonly>
                            </div>
                            <div class="mb-3">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre del Producto" value="{{producto.nombre}}" required>
                            </div>
                            <div class="mb-3">
                                <input type="number" name="precio" class="form-control" min="0" value="{{producto.precio}}" step=".01" required>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-secondary w-100">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>